<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Paint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFBE506C1E47EBD1002612D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFBE50801E47EBD1002612D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFBE508B1E47EBD2002612D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
